In [28]:
import numpy as np
import pandas as pd

from sklearn.model_selection import train_test_split

train.csv: A full training dataset with the following attributes:

id: unique id for a news article
title: the title of a news article
author: author of the news article
text: the text of the article; could be incomplete
label: a label that marks the article as potentially unreliable
1: unreliable
0: reliable
test.csv: A testing training dataset with all the same attributes at train.csv without the label.

In [21]:
train = pd.read_csv('data/train.csv', index_col=0)
test = pd.read_csv('data/test.csv', index_col=0)
train.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 20800 entries, 0 to 20799
Data columns (total 4 columns):
 #   Column  Non-Null Count  Dtype
---  ------  --------------  -----
 0   title   20242 non-null  object
 1   author  18843 non-null  object
 2   text    20761 non-null  object
 3   label   20800 non-null  int64
dtypes: int64(1), object(3)
memory usage: 812.5+ KB

In [23]:
train.head()

,title,author,text,label
id,,,,
0,House Dem Aide: We Didn’t Even See Comey’s Let...,Darrell Lucus,House Dem Aide: We Didn’t Even See Comey’s Let...,1
1,"FLYNN: Hillary Clinton, Big Woman on Campus - ...",Daniel J. Flynn,Ever get the feeling your life circles the rou...,0
2,Why the Truth Might Get You Fired,Consortiumnews.com,"Why the Truth Might Get You Fired October 29, ...",1
3,15 Civilians Killed In Single US Airstrike Hav...,Jessica Purkiss,Videos 15 Civilians Killed In Single US Airstr...,1
4,Iranian woman jailed for fictional unpublished...,Howard Portnoy,Print \nAn Iranian woman has been sentenced to...,1

In [19]:
train['author'].nunique()

4201

In [26]:
train_cleaned = train

# fill missing values for Title
train_cleaned['title'].fillna(value='Unknown', inplace=True)

# drop authors
train_cleaned = train_cleaned.drop('author', axis=1)

# drop rows with NA text values
train_cleaned = train_cleaned[train_cleaned['text'].notna()]

train_cleaned.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 20761 entries, 0 to 20799
Data columns (total 3 columns):
 #   Column  Non-Null Count  Dtype
---  ------  --------------  -----
 0   title   20761 non-null  object
 1   text    20761 non-null  object
 2   label   20761 non-null  int64
dtypes: int64(1), object(2)
memory usage: 648.8+ KB

In [33]:
# split features and testing sets

features = train_cleaned.loc['title':'text']
labels = train_cleaned['label']

X_train, X_test, y_train, y_test = train_test_split(train_cleaned, labels, test_size=0.20)